@font-face {
  font-family: 'Gilroy';
  src: url("/assets/fonts/Gilroy-ExtraBold.otf") format("otf"),
    url("/assets/fonts/Gilroy-Light.otf") format("otf");
}

* {
  box-sizing: border-box;
}

:root {
  --primay-backgroud: #fcf8f3;
  --Color-Light-BG: #F4F5F7;
  --Color-Primary: rgb(232, 159, 113);
  --Color-Gray-1: rgb(58, 58, 58);
  --Color-Gray-2: #616161;
  --Color-Gray-3: #898989;
  --Color-Gray-4: #B0B0B0;
  --Color-Gray-5: #D8D8D8;
  --Color-White: #FFF;
  --Color-Red-Accents: #E97171;
  --Color-Green-Accents: #2EC1AC;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Gilroy', sans-serif;
}

/* common */
.container {
  width: 1440px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.heading_2 {
  color: var(--Color-Gray-1);
  text-align: center;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
}

.desc {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--Color-Gray-2);
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  padding: 0;
  border: none;
  background-color: transparent;
}

.indicator {
  position: relative;
  bottom: 29px;
  left: 50%;
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.indicator__item {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: var(--Color-Gray-5);
}

.primary__btn {
  background-color: var(--Color-White);
  color: var(--Color-Primary);
  transition: all 0.3s ease-in-out;
}

.primary__btn:hover {
  background-color: var(--Color-Primary);
  color: var(--Color-White);
}

.active {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27px;
  height: 27px;
  border: 1px solid var(--Color-Primary);
  background-color: transparent;
}

.scroll__btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 45px;
  border-radius: 50%;
  background-color: rgba(232, 159, 113, 0.3);
  transition: all .3s ease;
  color: var(--Color-Primary);
  z-index: 10;
}

.scroll__btn:hover {
  background-color: var(--Color-Primary);
  color: var(--Color-White);
}

/* Header */
.header {
  position: relative;
  background-color: var(--primay-backgroud);
}

.top-header {
  position: relative;
  z-index: 1;
  padding: 29px 50px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  padding: 8px 41px 8px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  max-width: 336px;
  margin-right: 43px;
}

.navbar_list {
  display: flex;
  align-items: center;
}

.navbar_item {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-right: 40px;
}

.navbar__link {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--Color-Gray-1);
}

.navbar_item:hover {
  border-bottom: 2px solid var(--Color-Gray-1);
}

.navbar__icon {
  margin-top: 5px;
}

.search {
  display: flex;
  align-items: center;
  margin-right: 121px;
  width: 473px;
  height: 45px;
  background: var(--Color-White);
}

.search__icon {
  padding: 12px;
  cursor: pointer;
}

.search__input {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--Color-Gray-2);
  outline: none;
}

.top-act {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.top-act__user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.top-act__avatar {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* Main */

.home__background {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
  width: 64.5%;
  height: 774px;
  background: #F9F1E7;
}

/* banner */
.banner {
  display: flex;
  justify-content: center;
  padding-bottom: 66px;
  background: var(--primay-backgroud);
}

.banner__inner {
  margin: 0 auto;
  position: relative;
  height: 624px;
  max-width: 1339px;
}

.banner__btn--left {
  margin-left: 14px;
  top: 50%;
}

.banner__btn--right {
  right: 0px;
  top: 50%;
  margin-right: 14px;
}

.active::after {
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: var(--Color-Primary);
}

.banner__list {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.banner__item {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  transition: all 0.3s ease;
  /* transform: translateX(-100%); */
}

.banner__item.hide {
  transform: translateX(0);
}

.banner__item.show {
  transform: translateX(-100%);
}

.banner__img {
  max-width: 1339px;
  height: 624px;
  object-fit: cover;
}

.banner-tag {
  position: absolute;
  top: 35px;
  left: 99px;
  width: 494px;
  height: 553px;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(15.5px);
}

.banner-tag__inner {
  padding: 60px;
}

.banner-tag__heading {
  width: 380px;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--Color-Gray-1);
}

.banner-tag__desc {
  margin-top: 16px;
  width: 357px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--Color-Gray-3);
}

.banner-tag__btn {
  margin-top: 48px;
  width: 374px;
  height: 78px;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--Color-Primary);
  color: var(--Color-White);
}

.banner-tag__btn:hover {
  opacity: 0.5;
}

.banner-price {
  position: absolute;
  right: 89px;
  bottom: 53.5px;
  width: 294px;
  height: 138.875px;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(15.5px);
  cursor: pointer;
}

.banner-price__inner {
  padding: 22.5px 24px 20.5px;
}

.banner-price__heading {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--Color-Gray-1);
}

.banner-price__desc {
  margin-top: 3.5px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--Color-Gray-2, #616161);
}

.banner-price__price {
  margin-top: 7.5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-price__price--number {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--Color-Gray-1);
}

.banner-price__vector {
  transition: all 0.3s ease;
}

.banner-price__vector:hover {
  transform: scale(1.5);
}

/* feature */
.feature {
  margin: 72px 102px 88px;
  display: flex;
  gap: 92px;
}

.feature__item {
  display: flex;
  align-items: center;
}

.feature__icon {
  padding: 22px;
}

.feature__heading {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--Color-Gray-1);
}

.feature__desc {
  margin-top: 2px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--Color-Gray-3);
}

/* products */
.products {
  margin: 0 102px;
}

.products__heading {
  margin-bottom: 32px;
}

.product__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.product-card {
  position: relative;
  width: 285px;
  height: 446px;
}

.product-card__actions {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgba(58, 58, 58, 0.72);
  transition: opacity 0.5s ease;
}

.product-card:hover .product-card__actions {
  opacity: 1;
}

.product-card__btn {
  z-index: 1;
  width: 202px;
  height: 48px;
  background: var(--Color-White);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--Color-Primary, #E89F71);
}

.product-card__btn:hover {
  opacity: 0.7;
}

.product-card__interact {
  margin-top: 24px;
  display: flex;
  align-items: center;
  gap: 48px;
}

.product-card__interact--btn {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--Color-White);
}

.heart-icon {
  color: white;
}

.clicked {
  color: red;
}

.product-card__thumb {
  width: 100%;
  height: 301px;
  object-fit: cover;
}

.product-card__sale-btn {
  position: absolute;
  right: 24px;
  top: 24px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--Color-Red-Accents);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--Color-White, #FFF);
}

.new {
  background-color: var(--Color-Green-Accents);
}

.product-card__content {
  margin-top: -3px;
  padding: 16px 0 30px 16px;
  background: var(--Color-Light-BG);
}

.product-card__title {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--Color-Gray-1);
}

.product-card__desc {
  margin-top: 8px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--Color-Gray-3);
}

.product-card__price {
  margin-top: 11px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.product-card__price--num {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--Color-Gray-1);
}

.product-card__price--old {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--Color-Gray-4);
  text-decoration: line-through
}

.product__btn {
  margin: 44px auto 56px;
  display: block;
  width: 245px;
  height: 48px;
  border: 1px solid var(--Color-Primary);
  background: var(--Color-White);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--Color-Primary, #E89F71);
  transition: all.3s ease;
}

.product__btn:hover {
  background: var(--Color-Primary);
  color: var(--Color-White);
}

/* Inspirations */
.inspira {
  padding: 0 173px;
  min-height: 670px;
  background-color: var(--primay-backgroud);
}

.inspira__inner {
  padding-top: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 167px;
}

.inspira__content {
  width: 446px;
}

.inspira__heading {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2;
  color: var(--Color-Gray-1);
}

.inspira__desc {
  margin-top: 8px;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--Color-Gray-2);
}

.inspira__btn {
  margin-top: 24px;
  width: 176px;
  height: 48px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
}

.inspira__media {
  position: relative;
  width: 480px;
  height: 582px;
}

.inspira__media--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.inspira__tag {
  position: absolute;
  bottom: 24px;
  left: 28.5px;
  padding-left: 38px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 257.822px;
  height: 130px;
  background: rgba(255, 255, 255, 0.72);
  backdrop-filter: blur(1.5px);
}

.inspira__tag--title {
  display: flex;
  align-items: center;
  gap: 8px;
}

.inspira__tag--desc {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--Color-Gray-2);
}

.inspira__tag--vector {
  display: block;
  width: 27px;
  height: 1px;
  background-color: var(--Color-Gray-2, #616161);
}

.inspira__tag--heading {
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--Color-Gray-1);
}

.inspira__media--btn {
  position: absolute;
  bottom: 24px;
  right: 136px;
  width: 57.03px;
  height: 48px;
  background-color: var(--Color-Primary);
  color: var(--Color-White);
  transition: all 0.3s ease-in-out;
}

.inspira__media--btn:hover {
  opacity: 0.7;
}

/* Tips and Tricks */
.tip {
  margin: 0 102px;
}

.tip__heading {
  margin: 44px 0 32px;
}

.tip__inner {
  position: relative;
  padding-bottom: 44px;
}

.tip__btn--left {
  left: -24px;
  color: var(--Color-Primary);
  background-color: var(--Color-White);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

.tip__btn--right {
  right: -24px;
  color: var(--Color-Primary);
  background-color: var(--Color-White);
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.16);
}

.tip__list {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.tip__item {
  display: flex;
  width: 100%;
  flex-shrink: 0;
  transition: all 0.3s ease;
  gap: 32px;
  /* transform: translateX(-100%); */
}

.tip-card {
  width: 391px;
  height: 370px;
}

.tip-card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.tip-card__thumb--img {
  width: 100%;
  height: 251px;
  object-fit: cover;
}

.tip-card__content {
  padding: 16px;
  width: 100%;
  height: 119px;
  background: var(--Color-White);
}

.tip-card__heading {
  margin-bottom: 8px;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.2;
  color: var(--Color-Gray-1);
}

.tip-card__time {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--Color-Gray-3);
}

.tip__actions {
  margin: 44px 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tip__indicator {
  bottom: 0;
  left: 0;
}

/* Share */
.share {
  padding-bottom: 87px;
}

.share__content {
  margin-bottom: -24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.share__desc {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
}

.share__inner {
  position: relative;
  width: 100%;
  height: 721px;
  overflow: hidden;
}

.share__img {
  position: absolute;
  object-fit: cover;
}

.share__img:nth-child(1) {
  width: 274px;
  height: 382px;
  top: 0;
  left: -70px;
}

.share__img:nth-child(2) {
  width: 451px;
  height: 312px;
  top: 70px;
  left: 220px;
}

.share__img:nth-child(3) {
  width: 295px;
  height: 392px;
  top: 156px;
  left: 686px;
}

.share__img:nth-child(4) {
  width: 290px;
  height: 348px;
  top: 99px;
  right: 152px;
}

.share__img:nth-child(5) {
  width: 425px;
  height: 433px;
  top: 14px;
  right: -289px;
}

.share__img:nth-child(6) {
  width: 258px;
  height: 196px;
  right: -10px;
  bottom: 62px;
}

.share__img:nth-child(7) {
  width: 178px;
  height: 242px;
  right: 264px;
  bottom: 16px;
}

.share__img:nth-child(8) {
  width: 344px;
  height: 242px;
  left: 327px;
  bottom: 81px;
}

.share__img:nth-child(9) {
  width: 381px;
  height: 323px;
  left: -70px;
  bottom: 0;
}

/* End page */
.spreate-end {
  display: block;
  margin: 0 auto;
  width: 1237px;
  height: 1px;
  background-color: var(--Color-Gray-5);
}

/* Footer */
.footer__inner {
  margin-top: 31px;
  padding: 0 102px;
}

.footer__row {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 70px
}

.footer__col {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.footer__heading {
  font-size: 2.4rem;
  font-weight: 700;
  color: #000;
}

.footer__desc {
  width: 249px;
}

.footer__contact {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer__form {
  display: flex;
  align-items: center;
  gap: 4px;
}

.footer__input {
  width: 242px;
  height: 45px;
  padding: 10px 0 11px 12px;
  outline: none;
  border: none;
  background: var(--Color-Light-BG);
}

.footer-from__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 45px;
  background-color: var(--Color-Primary);
  color: var(--Color-White);
}

.footer-from__btn:hover {
  opacity: 0.5;
}